:root {
  --orange: #dba53a;
  --black: #000000;
  --red: #ff0000;
  --lightgrey: #f5f5f5;
  --grey: #dddd;
  --darkgrey: #707070;
}

.backTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  margin-top: -2%;
  color: var(--orange);
}

.txt-content p,
.allpostContainer img {
  display: none;
}

.allpostContainer .wp-image-268,
.allpostContainer .wp-image-262,
.allpostContainer .wp-image-250,
.allpostContainer .wp-image-242,
.allpostContainer .wp-image-282,
.allpostContainer .wp-image-233,
.allpostContainer .wp-image-231,
.allpostContainer .wp-image-225,
.allpostContainer .wp-image-220,
.allpostContainer .wp-image-212,
.allpostContainer .wp-image-236,
.allpostContainer .wp-image-228,
.allpostContainer .wp-image-328,
.allpostContainer .wp-image-356 {
  display: block;
  height: 100%;
  width: 100%;
}

.file {
  border: 2px solid var(--orange);
  padding: 2%;
  margin-top: 20%;
  border-radius: 2%;
}

section h1 {
  font-size: 1.4em;
  margin: 0%;
  text-align: center;
}

.file a {
  color: var(--black);
  font-family: "Source Sans Pro", sans-serif;
}

.more-link {
  display: none;
}

.buttons {
  display: flex;
  justify-content: center;
}

.lessbtn,
.morebtn {
  border: 2px solid var(--orange);
  border-radius: 10px;
  font-size: 1.5em;
  font-family: "Source Sans Pro", sans-serif;
  padding: 5px;
  margin: 2%;
  cursor: pointer;
}

.lessbtn:hover,
.morebtn:hover {
  text-decoration: underline var(--orange);
}

/* MEDIA QUERY*/

@media (min-width: 1024px) {
  .backTitle {
    display: none;
  }

  .allpostContainer,
  .allpostContainer .viewMore {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }

  .file {
    width: 40%;
    margin: 1%;
  }

  .allpostContainer .wp-image-268,
  .allpostContainer .wp-image-262,
  .allpostContainer .wp-image-250,
  .allpostContainer .wp-image-242,
  .allpostContainer .wp-image-282,
  .allpostContainer .wp-image-233,
  .allpostContainer .wp-image-231,
  .allpostContainer .wp-image-225,
  .allpostContainer .wp-image-220,
  .allpostContainer .wp-image-212,
  .allpostContainer .wp-image-236,
  .allpostContainer .wp-image-228,
  .allpostContainer .wp-image-328,
  .allpostContainer .wp-image-356 {
    display: block;
    height: 50%;
    width: 50%;
  }
}
