:root {
  --orange: #dba53a;
  --black: #000000;
  --red: #ff0000;
  --lightgrey: #f5f5f5;
  --grey: #dddd;
  --darkgrey: #707070;
}

/* .container {
  display: flex;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1%;
} */

.allpostImg img,
.allpostImg p {
  display: none;
}

.allpostImg .wp-image-268,
.allpostImg .wp-image-262,
.allpostImg .wp-image-250,
.allpostImg .wp-image-242,
.allpostImg .wp-image-282,
.allpostImg .wp-image-233,
.allpostImg .wp-image-231,
.allpostImg .wp-image-225,
.allpostImg .wp-image-220,
.allpostImg .wp-image-212 {
  display: block;
  height: 100%;
  width: 100%;
}

.postcard {
  border: 2px solid var(--orange);
  padding: 2%;
  margin-top: 5%;
}

.heading {
  margin-top: -2%;
  text-align: center;
}

.more-link {
  display: none;
}

@media (min-width: 1024px) {
  .container {
    display: grid;
  }
  .postcard {
    width: 50%;
  }

  .allpostImg .wp-image-268,
  .allpostImg .wp-image-262,
  .allpostImg .wp-image-250,
  .allpostImg .wp-image-242,
  .allpostImg .wp-image-282,
  .allpostImg .wp-image-233,
  .allpostImg .wp-image-231,
  .allpostImg .wp-image-225,
  .allpostImg .wp-image-220,
  .allpostImg .wp-image-212 {
    display: block;
    height: 50%;
    width: 50%;
  }
}
