:root {
  --orange: #dba53a;
  --black: #000000;
}

/* CAROUSEL */

.container {
  margin: 20px auto;
}

.carousel {
  height: 550px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  width: auto;
}

.latest {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.6em;
  margin-top: -30%;
}

.slider {
  display: flex;
  height: 100%;
  width: 400%;
  transition: all 0.8s;
}

.slider section {
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.control .arrow {
  font-size: 1.5em;
  color: var(--orange);
}

.arrow.left:hover,
.arrow.right:hover {
  font-size: 2em;
}

.file {
  padding: 10px;
}

.file p {
  margin-top: -5%;
  padding-top: 2%;
}

.wp-image-262 {
  height: 100%;
  width: 100%;
}

@media (min-width: 1025px) {
  .container {
    width: 75%;
  }

  .carousel {
    height: 100%;
    width: 100%;
  }

  .slider {
    width: 200%;
  }

  .slider section {
    display: flex;
  }

  .file {
    padding: 10px;
    margin-left: -1px;
    margin-right: 1px;
  }

  .control .arrow {
    margin-left: 30%;
  }

  .arrow.left,
  .arrow.right {
    border-radius: 50%;
    padding: 1%;
  }

  .latest {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 1.6em;
    margin-top: -15%;
  }
}

@media (max-width: 1024px) {
  .control .arrow {
    position: absolute;
    margin-top: -8%;
    margin-left: 40%;
  }

  .arrow.left {
    border-radius: 50%;
    margin-left: 30%;
  }

  .arrow.right {
    border-radius: 50%;
    margin-left: 70%;
  }
}
