:root {
  --orange: #dba53a;
  --black: #000000;
  --red: #ff0000;
  --lightgrey: #f5f5f5;
  --grey: #dddd;
  --darkgrey: #707070;
}

p {
  font-family: "Source Sans Pro", sans-serif;
}

.has-text-align-center {
  display: none;
}

h1 {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--orange);
  font-size: 2.6em;
  margin: 2%;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: var(--darkgrey);
  font-size: 1em;
  margin: 3%;
}

.date {
  text-align: center;
}

/*NAVIGATION*/

nav li {
  display: flex;
}

ul {
  margin-top: 2%;
  margin-left: 50%;
  font-size: 1.3em;
}

nav a:hover {
  text-decoration: underline;
  color: var(--orange);
}

a {
  text-decoration: none;
  color: var(--black);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.3em;
  padding: 1px;
}

.active {
  color: var(--orange);
}

nav {
  display: none;
}

#hamburgerMenu {
  display: none;
}

#hamburgerMenu:checked ~ nav {
  display: block;
}

.hamburgerLabel {
  display: block;
  padding: 1%;
  font-size: 2.1em;
  float: right;
}

/*FOOTER*/

footer {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

/*MEDIA QUERY*/

@media (min-width: 1025px) {
  nav {
    display: inline-block;
  }

  .hamburgerLabel {
    display: none;
  }

  ul {
    display: flex;
  }

  nav a {
    padding: 5% 15%;
  }
}
