.wp-image-212,
.wp-image-296,
.wp-image-242,
.wp-image-262,
.wp-image-269,
.wp-image-280,
.wp-image-281,
.wp-image-282,
.wp-image-328,
.wp-image-331,
.wp-image-332 {
  width: 50%;
  height: 50%;
  display: none;
}
